@page "/"

<PageTitle>Guess The Number</PageTitle>
<ErrorBoundary>
    <ChildContent>
        <ErrorHandler>
            <Game />
        </ErrorHandler>
    </ChildContent>
    <ErrorContent>
        <h1>You have entered an invalid guess.</h1>
    </ErrorContent>
</ErrorBoundary>
